.hover-card {
  text-decoration: none;
  border-radius: 2vmin;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-card:hover {
  transform: scale(1.02); 
  box-shadow: 0 0 5vmin rgba(0, 0, 0, 0.5);
}

.recipe-card {
  width: 50vmin;
  height: 50vmin;
  border-radius: 1vmin;
}

.recipe-card-img {
  width: 100%;
  height: 75%;
}

.recipe-card-title {
  font-weight: bold;
}

.recipe-card-text {
  color: #6c757d;
}