.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vmin;
    gap: 5vmin;
}

.recipes-flex {
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}

.recipe-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.recipe-card h3 {
    margin-bottom: 10px;
}

.welcome-message {
    text-align: center;
    font-size: 5vmin;
    color: #967969;
    font-weight: bold;
}